@import 'src/styles/variables';

.container {
  display: flex;
  height: 100%;
}

@mixin column {
  flex-direction: column;
  height: 100%;
}

.posts {
  @include column;
  flex: 1;
  overflow: visible scroll;

  padding: 10px;
  padding-bottom: 60px;

  a {
    text-decoration: none;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.post {
  padding: 10px 0px 10px 10px;
  border: 1px solid $darkBlueColor;
  margin-bottom: 20px;
  border-radius: 5px;

  &:hover {
    background-color: $lightGrayColor;
    cursor: pointer;
  }
}

.selectedPost {
  background-color: $lightGrayColor;
  border: 1px solid $darkBlueColor;
}

.comments {
  @include column;
  width: 50%;
}
