@import "styles/variables";

@mixin list {
  padding-left: 3%;
  li {
    padding-top: 10px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    padding-left: 5%;
  }
}

.comment {
  a {
    text-decoration: none;
    color: $anchorColor;
  }
  border: 1px solid $darkBlueColor;
  border-radius: 10px;
  padding: 10px;
  background-color: $widgetColor;

  ul {
    @include list();
  }

  ol {
    @include list();
  }
}

.postSection {
  a {
    text-decoration: none;
    color: $anchorColor;
  }
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  border: 1px solid $darkBlueColor;
  background-color: $widgetColor;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.postSectionPreview {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.previewImageWrapper {
  height: 500px;
  width: 80%;
  position: relative;
}

.textHtml {
  p {
    margin-top: 10px;
  }

  table {
    table-layout: fixed;
    width: 100%;
  }

  ul {
    @include list();
  }

  ol {
    @include list();
  }
}
