@import 'src/styles/variables';

.sidebar {
  height: 100%;
  width: 250px;
  background: $darkBlueColor;
  border-right: 2px solid $widgetColor;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonLayout {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
  background-color: $widgetColor;
  border-radius: 30px;
}

.button {
  color: $fontColor;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  display: block;
  padding: 10px;
  cursor: pointer;
  background-color: $widgetColor;
  border-radius: 30px;
  width: 100%;

  &:hover {
    background-color: $anchorColor;
  }
}

.selectedSubreddit {
  color: $anchorColor !important;
}

.nav {
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 2px solid $widgetColor;
  list-style: none;

  a {
    color: $fontColor;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    display: block;
    text-decoration: none;
    padding: 20px;
    margin: 0 20px;
    word-wrap: break-word;

    &:hover {
      background-color: $widgetColor;
      cursor: pointer;
    }
  }
}
