@import 'src/styles/variables';

.sidebar {
  height: 100%;
  width: 250px;
  background: $darkBlueColor;
  border-right: 1px solid black;

  overflow: auto;
}

.nav {
  list-style: none;

  li {
    padding: 10px;
    &:hover {
      border-color: $lightGrayColor;
      cursor: pointer;
    }
  }

  a {
    color: #fff;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    display: block;
    text-decoration: none;
    padding: 5px 0;
    margin: 0 20px;
  }
}
