@import 'src/styles/variables';

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  border-left: 2px solid $darkBlueColor;
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow: auto;
  background-color: $darkBlueColor;
  z-index: 999;
}

.comment {
  border: 1px solid $darkBlueColor;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 10px;
}

.postSection {
  width: 100%;
}

.closeButton {
  float: right;
}

.previewImg {
  max-height: 500px;
  max-width: 90%;
}

.textHtml {
  p {
    margin-top: 10px;
  }
}
