@import 'src/styles/variables';

.button {
    color: $fontColor;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    display: block;
    padding: 10px;
    cursor: pointer;
    background-color: $widgetColor;
    border-radius: 30px;
    width: 100%;
  
    &:hover {
      background-color: $anchorColor;
    }
}
