@import 'src/styles/variables';

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    overflow: hidden;

    -webkit-transition: 0.5s;
    transition: all 0.3s linear;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@mixin modalSettings {
    border-radius: 10px;
    background-color: $darkerBlueColor;    
}

.smallModalBox {
    @include modalSettings();
    height: 30%;
    width: 30%;

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        width: 80%;
    }
}

.normalModalBox {
    @include modalSettings();
    height: 50%;
    width: 30%;

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        width: 80%;
    }
}
